/*basic으로 깔리는 style*/

/*----버튼기본타입-----*/

button[type="submit"]{
    background-color:#c9c9c9;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #b4b4b4;
    display:inline-block;
    cursor:pointer;
    color:#5f5f5f;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #6b706a;
}
button[type="submit"]:hover{    /*버튼에 마우스를 올렸을때 효과*/
    color: #616161;
    background-color:#252525;
}
button[type="submit"]:active{   
    position: relative;
    top: 1px;
}


/*----input기본타입-----*/

input[type="text"], 
input[type="password"] { 
    height: auto; /* 높이 초기화 */ 
    line-height: normal; /* line-height 초기화 */ 
    /* margin-padding 여백 설정 */ 
    background-color: #e3e3e3; /*box 배경설정*/
    border: 0.5px solid #fff;
    border-radius: 3px; /*둥근모서리 설정*/
    font-size: 12pt;
}

