#wrap{
    margin: 0;
    /* position: relative; */
}

/*네비게이션*/
.header-nav{
    /* display: inline-block; */
    float: left;
    width: 9.5vw;
    height: 100vh;
    background-color: skyblue;
    letter-spacing: 3px;
    text-align: center;
}

/*----게시글----*/
.contents{
    /* display: inline; */
    border: 1px solid goldenrod;
}
.post-box{
    display: inline-block;
    width: 40vw;
    height: 100vh;
    margin-left: 12px;
}
/*--------타임라인게시글-----------*/
.dictionary-line{
    max-width: 100vw;
    height: 76vh;
    float: left;
}
/*search*/
.search{
    max-width: 100vw;
    margin: 5px;
}
.search input[type="text"]{
    width: 94%;
    border-radius: 2px;
    padding: 20px 10px;
    border: 0;
    text-align: left;
    font-size: 15px;
    margin-left: 6px;
}
/*게시글-box*/
.notice .time-line{
    max-height: 75%;
    padding: 5px;
    margin-top: 10px;
    list-style: none;
    overflow: auto;
    border: 1px solid gray;
}
.line-notice{
    max-height:100vh;
    overflow: auto;
}
.big-box{
    height: 170px;
    margin-bottom: 10px;
    list-style: none;
    background-color: cornflowerblue;
}
.notice .cbp-tmtime>li:hover{
    background-color: aliceblue;

}
.notice .cbp-tmtime li .timeline-in>h3{
    padding: 17px;
}
.notice .cbp-tmtime li .timeline-in>p{
    padding: 5px 17px;
}
.cbp-time{
    padding: 2px;
}
.cbp-tmtime{
    /* position: relative; */
    /* margin: 10px 0 0 0; */
	padding: 5px;
    list-style: none;
}

/*------------채팅창------------*/
* {
    margin: 0;
    padding: 0;
  }
.chat-background{
    width: 48%;
    height: 100vh;
    float: right;
    font-size: 11px;
    vertical-align: top;
    border-left: 1px solid darkgray;
}
.chat-list-wrap{
    height: 76.5%;
    /* overflow-x: auto; /*scroll bar속성-박스를 넘어가지 않으면 스크롤바가 나오지 않고,  */
                                    /*박스를 넘어갈 때에는 스크롤바가 나옵니다.*/
    list-style: none;
    /* padding: 20px; */
    margin-left: 10px;
}
.chat-list-wrap .header{
    position: relative;
    padding: 20px 15px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #464646
} 
.chat-list-wrap .header>p{
    position: absolute; 
    top: 16px;
    font-size: 15px;
}

.header>p:first-child{float: left;color: green;}
.header>p:nth-child(2){
    position: absolute;
    left: 50px;
}
.header>p:nth-child(3){
    position: absolute;
    right: 67px;
}
.header>p:last-child{
    position: absolute;
    font-size: 14px;
    font-weight: 800;
    right: 20px;
}
.chat-list-wrap .chat-list{
    padding:0 15px;
}
.chat-list-wrap .chat-list ul {
    width: 100%;
    list-style: none;
    margin-top: 5px;
  }
.chat-list-wrap .chat-list ul li {
    padding: 10px 0;
}
.chat-list-wrap .chat-list ul li img{
    width: 30px;
    height: 30px;
    border-radius: 34px;
    padding: 20px;
    background-color: gray;
}
.chat-list ul li .random-name{
    position: relative;
    bottom: 33px;
    left: 52px;
    font-size: 12px;
    font-weight: bold;
}
.chat-content{
    /* width: 60%; */
    height: 40px;
    border-radius: 5px;
    margin-top: -24px;
    margin-left: 47px;
    line-height: 16px;
    font-size: 9px;
    background-color: skyblue;
}
.chat-content p{
    font-size: 11px;
    padding:13px 15px 5px 15px;;/*상우하좌*/
}
/*전송, 닉네임바꾸기 입력창*/
.chat-input-txt{
    left: 18px;
    position: relative;
    width: 96%;
    bottom: 10px;
    border: 1.5px solid darkgray;
}
.btn-box{
    position: absolute;
    width: 10vw;
    height: 180px;
    right: 10px;
    top: 0px;
}
.btn-box button {
    position: absolute;
    border-radius: 35px;
    width:100%;
}
/*메세지 전송 버튼*/
.btn-box p .change-nic{
    top: 10px;
    line-height: 5vh;;
}
.btn-box p{
    width: 11vw;
}
.btn-box p .send-message{
    bottom: 10px;
    line-height: 9vh;
}
.btn-box button {
    padding:0px 15px;
    
}
.send-message{
    padding: 36px 70px;
    border-radius: 5px;
}
#send{
    resize: none;
    margin: 10px;
    width: 28.5vw;
    height: 160px;
    text-align: left;
    border: 1px solid darkgray;
}