body{margin:0;}


/*프로젝트만들기 popup 페이지*/
.modal-notice-write{
    width: 100%;
    height: 975px;
    background-color: #444444;
}
.popup-notice-write{
    position: relative;
    left: 50%;
    top: 15%;
    width: 25%;
    height: auto;
    transform: translate(-50%);
    background-color:#fafafa;
    border: 1px solid rgb(245, 219, 179);
}
.topbar{
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #d8d8d8;
}
.topbar>p{
    margin: 0;
    padding: 8px 20px;
}
.qeust{
    margin-top: 40px;
    padding:20px;
}
.name_box{
    position: relative;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #a4a4a4;
}
/*프로젝트이름 - input type - box*/
.name_box>input[type="text"]{
    width: 350px;
    height: auto; /* 높이 초기화 */ 
    line-height: normal; /* line-height 초기화 */ 
    margin: 12px 10px 12px 10;
    padding: 15px 0px 15px 0px; /* 여백 설정 */ 
    background-color: #e3e3e3; /*box 배경설정*/
    border: 0.5px solid #fff;
    border-radius: 3px; /*둥근모서리 설정*/
    font-size: 12pt;
    text-align: left;
}
/*비밀번호-input type - box*/
.new-project-box{
    position: relative;
    max-width:89%;
    left: 20px;
}
.new-project-box>
input[type="text"], 
input[type="password"] { 
    height: auto; /* 높이 초기화 */ 
    line-height: normal; /* line-height 초기화 */ 
    margin: 12px 5px 12px 0px;
    padding: 15px 10px 15px 10px; /* 여백 설정 */ 
    background-color: #e3e3e3; /*box 배경설정*/
    border: 0.5px solid #fff;
    border-radius: 3px; /*둥근모서리 설정*/
    font-size: 12pt;
}
.private-txt1, .private-txt2, .private-txt3{
    display: inline;
    font-size: 7pt;
}
.comment{
    position: relative;
    width: 100%;
    border-top:1px solid #a4a4a4; 
}
.comment>.simple_comment{
    width: 80%;
}
/*[운영시작]button style*/
.btn-cover-box{
    position: relative;
    width: 100%;
    height: 80px;
}
.start-btn{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}
.start-btn>button{
    padding: 10px;
}


/*관리자 메인페이지*/
#wrap{
    position: relative;
    height: 1080px;
}
/*네비게이션 부분*/
#header{
    width: 10%;
    height: 80%;
    margin: 0;
    background-color: #8e7ac6;
    /* border: 1px solid darkblue; */
}
.header-nav{
    position: relative;
    width: 100%;
    height: 20%;
    border: 1px solid red;
}
.nav-content{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    /* border: 1px solid red; */
}
.logo{
    width: 45px;
    height: 45px;
    margin: 0 20px;
    background-image: url(../img/logo2.gif);
    background-size: contain;
}


/*------방 리스트 테이블------*/
/* .project-list{
    border: 1px solid #000;
} */
.ID-show{
    position: relative;
    font-size: 15pt;
    height: 80px; 
}
.show-txt{
    position: absolute;
    top: 10px;
    padding:0;
}
.show-txt>li{
    margin-right: 10px;
    list-style: none;
    float: left;
}
.data{font-size: 18pt;}
/*-------------------------*/
.table-name{
    position: relative;
    width: 300px;
    margin:10px 0;
    top: 25%;
    /* border: 1px solid blue; */
}
.table-name>p{
    position: absolute;
    left: 35px;
    top: 25%;
    margin: 0;
}
#manager-content-box{
    position: absolute;
    z-index: 1000;
    width: 87%;
    height: 700px;
    top: 50px;
    left: 11%;
    /* border: 2px solid chartreuse; */
}
.table-cover-box{
    position: absolute;
    width: 100%;
    top: 0;
    /* border: 1px solid coral; */
}
.table-box{
    position: relative;
    height: 250px;
    top: 30px;
    /* border: 3px solid gold; */
}
table{
    position: absolute;
    width: 100%;
    border-top:1px solid black;
    border-collapse: collapse; 
}
th,td{
    border-bottom: 1px solid #444444;
    padding: 10px ;
}
table.project-list tr{
    border-collapse: collapse;
    text-align:center;
}
table.project-list td:nth-child(2){
    text-align: left;
}
.project-name{
    text-align: center;
}

/*--------관리자 주의사항 글--------*/
.article-notice{
    position: relative;
    width: 100%;
    height: 150px;
    top: 270px;
    /* border: 1px solid blueviolet; */
}
hr{
    width: 100%;
    color: darkgrey;
}
/* .notice-cover-box{
    position: absolute;
    max-width: 100%;
    top: 10%;
    border: 3px solid #444444;
} */
.text-notice{
    position: absolute;
    top: 0;
    width: 100%;
    /* border: 1px solid seagreen; */
}
/*-------------------------------*/
.footer{
    position: relative;
    width: 100%;
    height: 50px;
    background-color:#664ea8;
}
.logout-box{
    position: absolute;
    right: 70px;
}
.logout-box>p>a{
    color: #ffffff;
    text-decoration-line: none;
}
