
#wrap{
    margin: 0;
}

/*네비게이션*/
.logo{
    width: 40px;
    height: 40px;
    margin: 32px auto;
    background: url(/project_Stuko/img/main/logo.svg) no-repeat;
}

.header-nav{
    /* display: inline-block; */
    float: left;
    width: 9.5vw;
    height: 100vh;
    background-color: skyblue;
    letter-spacing: 3px;
    text-align: center;
}
.notice-write{
    max-width: 100wv;
    height: 50px;
    /* border: 1px solid red; */
}
.notice-write:hover{background-color: #3ea4fa;}
.notice-write a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    letter-spacing: 8px;
}
.word-page{
    display: block;
    max-width: 100wv;
    height: 50px;
    /* border: 1px solid green; */
}
.word-page a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

.word-page:hover{background-color: #3ea4fa;}
/*----게시글----*/
.contents{
    display: inline-block;
    /* border: 1px solid goldenrod; */
    width: 89vw;
}
.post-box{
    display: inline-block;
    width: 41vw;
    /* height: 100vh; */
}
/*베스트글*/
.best-notice{
    padding: 20px;
    width: 42vw;
    height: 230px;
    background-color: #3385d1;
}
.quest-show{
    width: 35vw;
    height: 170px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 1px 3px 8px grey;
    background-color: #fff;
}
.quest-show ul li .timeline-in p{
    margin: 10px 0;
}
/*--------타임라인게시글-----------*/
.notice{
    max-width: 100vw;
    max-height: 100vh;
    margin-left: 51px;
}
/*search*/
.search{
    max-width: 100vw;
    margin: 5px;
    border-bottom: 1.5px solid #000;
}
.search-cover{
    display: inline-block;
}
.search-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(/project_Stuko/img/main/search.svg)no-repeat;
}
.search input[type="search"]{
    width: 90%;
    background-color: none;
    padding: 16px 15px;
    border: 0;
    text-align: left;
    font-size: 15px;
}
/*게시글-box*/
.time-line{
    height: 60vh;
    padding: 5px;
    margin-top: 10px;
    list-style: none;
    overflow: auto;
    /* border: 1px solid gray; */
}
.line-notice{
    max-height:100vh;
}
.notice .cbp-tmtime>li{
    height: 170px;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    box-shadow: 1px 3px 8px grey; 
    /*그림자속성 h-shadow(필수), v-shadow(필수), blur(선택), color(선택) 순*/
    border-radius: 8px;
    border-top: 4px solid #3ea4fa;
    background-color: #fff;
}
.notice .cbp-tmtime>li:hover{
    background-color: aliceblue;

}
.notice .cbp-tmtime li .timeline-in>h2{
    padding: 17px;
}
.notice .cbp-tmtime li .timeline-in>p{
    padding: 5px 17px;
}
.cbp-time{
    padding: 2px;
}
.cbp-tmtime{
    /* position: relative; */
    /* margin: 10px 0 0 0; */
	padding: 5px;
    list-style: none;
}
/* .cbp-tmtime:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
} */

/*------------채팅창------------*/
* {
    margin: 0;
    padding: 0;
  }
.chat-background{
    width: 48%;
    height: 100vh;
    float: right;
    margin-right: 20px;
    font-size: 11px;
    vertical-align: top;
    border-left: 1px solid darkgray;
}
.chat-list-wrap{
    height: 76.5%;
    /* overflow-x: auto; /*scroll bar속성-박스를 넘어가지 않으면 스크롤바가 나오지 않고,  */
                                    /*박스를 넘어갈 때에는 스크롤바가 나옵니다.*/
    list-style: none;
    /* padding: 20px; */
    margin-left: 10px;
}
.chat-list-wrap .header{
    position: relative;
    padding: 20px 15px;
    color: black;
    text-align: center;
    border-bottom: 1px solid #464646
} 
.chat-list-wrap .header>p{
    position: absolute; 
    top: 16px;
    font-size: 15px;
}

.header>p:first-child{float: left;color: green;}
.header>p:nth-child(2){
    position: absolute;
    left: 50px;
}
.header>p:nth-child(3){
    position: absolute;
    right: 67px;
}
.header>p:last-child{
    position: absolute;
    font-size: 14px;
    font-weight: 800;
    right: 20px;
}
.chat-list-wrap .chat-list{
    padding:0 15px;
}
.chat-list-wrap .chat-list ul {
    width: 100%;
    list-style: none;
    margin-top: 5px;
  }
.chat-list-wrap .chat-list ul li {
    padding: 10px 0;
}
.chat-list-wrap .chat-list ul li img{
    width: 30px;
    height: 30px;
    border-radius: 34px;
    padding: 20px;
    background-color: gray;
}
.chat-list ul li .random-name{
    position: relative;
    bottom: 33px;
    left: 52px;
    font-size: 12px;
    font-weight: bold;
}
.bb-arrow{
    position: relative;
    background: skyblue;
    border-radius: 3px;
}
.bb-arrow:after{
    content: '';
    position: absolute;
    left: 37px;
    top: 50%;
    width: 0px;
    height: 0px;
    border: 11px solid transparent;
    border-right-color: skyblue;
    border-left: 0;
    margin: -16px 0 0;
}
.chat-content{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    margin-top: -24px;
    margin-left: 47px;
    line-height: 16px;
    font-size: 9px;
    background-color: skyblue;
}
.chat-content p{
    font-size: 11px;
    padding:13px 15px 5px 15px;;/*상우하좌*/
}
/*전송, 닉네임바꾸기 입력창*/
.chat-input-txt{
    left: 18px;
    position: relative;
    width: 96%;
    border: 1.5px solid darkgray;
}
.btn-box{
    position: absolute;
    width: 10vw;
    height: 180px;
    right: 10px;
    top: 0px;
}
.btn-box button {
    position: absolute;
    border-radius: 35px;
    width:100%;
}
/*메세지 전송 버튼*/
.btn-box{
    width: 11vw;
}
.btn-box button {
    padding:0px 15px;
}
.btn-box .change-nic{
    top: 10px;
    line-height: 5vh;
    background-color: #8B00FF;
    color: #fff;
}
.btn-box .send-message{
    height: 100px;
    bottom: 10px;
    font-size: 14px;
    border-radius: 15px;
    line-height: 9vh;
}
/* .send-message{
    border-radius: 8px;
    padding: 36px 70px;
} */
#send{
    resize: none;
    margin: 10px;
    max-width: 28.5vw;
    height: 160px;
    text-align: left;
    border: 1px solid darkgray;
}