#wrap{
    margin: 0;
    /* position: relative; */
}

/*네비게이션*/
.logo{
    width: 40px;
    height: 40px;
    margin: 32px auto;
    background: url(/project_Stuko/img/main/logo.svg) no-repeat;
}

.header-nav{
    /* display: inline-block; */
    float: left;
    width: 9.5vw;
    height: 100vh;
    background-color: skyblue;
    letter-spacing: 3px;
    text-align: center;
}
.notice-write{
    max-width: 100wv;
    height: 50px;
    border: 1px solid red;
}
.notice-write:hover{background-color: #3ea4fa;}
.notice-write a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    letter-spacing: 8px;
}
.word-page{
    display: block;
    max-width: 100wv;
    height: 50px;
    border: 1px solid green;
}
.word-page a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 0;
}

.word-page:hover{background-color: #3ea4fa;}

/*----게시글----*/
/* .contents{
    border: 1px solid goldenrod;
    height: auto;
} */
.post-box{
    display: inline-block;
    width: 40vw;
    max-height: 100%;
    margin-left: 12px;
}
/*--------용어사전타임라인-----------*/
.dictionary-line{
    max-width: 100vw;
    float: left;
    border: 1px solid red;
}
/*-------search(검색)----------*/
.search{
    max-width: 100vw;
    margin: 5px 10px;
    border-bottom: 1.5px solid #000;
}
.search-cover{
    display: inline-block;
}
.search-icon{
    display: inline-block;
    width: 22px;
    height: 25px;
    margin-left: 5px;
    vertical-align: middle;
    background: url(/project_Stuko/img/main/search.svg)no-repeat;
}
.search input[type="search"]{
    width: 90%;
    background-color: none;
    padding: 16px 10px 10px 6px;
    border: 0;
    text-align: left;
    font-size: 15px;
}
/*게시글-box*/
.dictionary-line .time-line{
    /* max-height: 75%; */
    padding: 5px;
    margin-top: 10px;
    list-style: none;
    overflow: auto;
    border: 1px solid gray;
}
.line-notice{
    max-height: 90vh;
    overflow: auto;
}
.chap-icon{
    /* position: relative; */
}
/* .chap-icon .round{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background-color: #3ea4fa;
}    
.chap-icon .Line{
    position: absolute;
    width: 3px;
    height: 150px;
    background-color: #3ea4fa;
} */

.big-box{
    height: 170px;
    margin-bottom: 10px;
    list-style: none;
    background-color: cornflowerblue;
}
.dictionary-line .dic-tmtime>li{
    height: 165px;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    box-shadow: 1px 2px 5px grey; 
    /*그림자속성 h-shadow(필수), v-shadow(필수), blur(선택), color(선택) 순*/
    border-radius: 8px;
    /* border-top: 4px solid #3ea4fa; */
    background-color: #fff;
}
.dictionary-line .dic-tmtime li .dicline-in>h3{
    display: inline;
    padding: 17px;
}
.dictionary-line .dic-tmtime li .dicline-in>p{
    padding: 10px 17px;
    font-size: 10px;
    line-height: 18px;
}
.dic-time{
    padding-right: 10px;
    width: 103px;
    float: right;
}
.dic-tmtime{
	padding: 10px;
    list-style: none;
}
/* 링크*/
.link-icons{
    display: inline-flex;
    float: right;
    margin-top: 23px;
}
.link-icons p{
    display: inline-block;
    margin: 3px auto;
}

.link-icons a{
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
.link-icons .icon-box .google{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rebeccapurple;
}

