
.wrap{
    height: 100vh;
    width: 100vw;
}
/*background image*/
.main-image{
    position: relative;
    /* height: 60px; */
    z-index: -10;
    /* background: url(/project_Stuko/img/main/background1.png) no-repeat; */
}
.main-image .bg1{
    position: absolute;
    right: 0;
}
.main-image .bg2{
    position: absolute;
    top: 300px;
    left: 0;
}
.main-image .bg3{
    position: absolute;
    top: 970px;
    right: 0;
}


/*main stuff-view*/
.contents{
    width: 100vw;
    height: 960px;
    border: 1px solid goldenrod;
}
.main-display{
    margin: 80px auto;
    background-color: azure;
    width: 70vw;
    height: 800px;
}
.logo{
    width: 50px;
    height: 50px;
}
.Logo-img{
    /*로고이미지*/
    width: 50px;
    height: 50px;
    background: url(/project_Stuko/img/main/mainpage_logo.svg)no-repeat;
}
.promotion{
    width: 400px;
    height: 400px;
    float: right;
    margin-right: 20px;
    border: 1px solid green;
}
.prom-logo{
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: goldenrod;
    /*background: url(/project_Stuko/img/) no-repeat;*/
}
.prom-txt{
    letter-spacing: 2px;
    font-size: 12px;
    color: #000;
}
.btn-sub-start{
    width: 130px;
    height: 30px;
    border: 1px solid green;
    margin: 0 auto;
}
.st-btn{
    text-align:center;
    padding: 8px 30px;
    border-radius: 18px;
    color: #fff;
    background-color: rgb(71, 81, 219);
}
/*------방 입장 서버-------*/
.project-box{
    height: 500px;
    padding-top: 75px;
    border: 1px solid  red;
}
.project-box-list{
    padding: 0 0 0 150px;
    margin: 0 auto;
    border: 1px solid green;
    height: 225px;
}
.project-box-list li{
    display: inline-block;
    width: 250px;
    height: 150px;
    list-style: none;
    margin: 25px 14px;
    border-radius: 8px;
    box-shadow: 1px 3px 8px grey; /*그림자속성 h-shadow(필수), v-shadow(필수), blur(선택), color(선택) 순*/
    padding: 10px;
}


/*------하단 footer-------*/

.footer{
    background-color: #eee;
    width: 100vw;
    height: 150px;
}

.copyright{
    width: auto;
    height: auto;
    margin: 30px;
    float: right;
}

.footer-logo{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 20px 0 20px 70px;
    background: url(/project_Stuko/img/main/logo.svg) no-repeat;
}
