

/*프로젝트만들기 popup 페이지*/
/* .modal-notice-write{
    width: 100%;
} */
/* .popup-notice-write{
    position: relative;
    left: 50%;
    top: 15%;
    width: 25%;
    height: auto;
    transform: translate(-50%);
    background-color:#fafafa;
    border: 1px solid rgb(245, 219, 179);
} */
/* .topbar{
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #d8d8d8;
}
.topbar>p{
    margin: 0;
    padding: 8px 20px;
} */
.qeust{
    margin-top: 40px;
    padding:20px;
}
.name_box{
    position: relative;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #a4a4a4;
}
/*프로젝트이름 - input type - box*/
.name_box>input[type="text"]{
    width: 350px; 
    margin: 12px 10px 12px 10;
    padding: 15px 0px 15px 0px; /* 여백 설정 */ 
    text-align: left;
}
/*비밀번호-input type - box*/
.new-project-box{
    position: relative;
    max-width:89%;
    left: 20px;
}
.new-project-box>
input[type="text"], 
input[type="password"] { 
    margin: 12px 5px 12px 0px;
    padding: 15px 10px 15px 10px; /* 여백 설정 */ 
}
.private-txt1, .private-txt2, .private-txt3{
    display: inline;
    font-size: 7pt;
}
.comment{
    position: relative;
    width: 100%;
    border-top:1px solid #a4a4a4; 
}
.comment>.simple_comment{
    width: 80%;
}
/*[운영시작]button style*/
.btn-cover-box{
    position: relative;
    width: 100%;
    height: 80px;
}
.start-btn{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}
.start-btn>button{
    padding: 10px;
}


/*관리자 메인페이지*/
#wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
}
/*네비게이션 부분*/
#header{
    width: 180px;
    margin: 0;
    background-color: #8e7ac6;
}
.header-nav{
    position: relative;
    max-width: 100vw ;
    height: 94vh;
}
.nav-content{
    position: absolute;
    max-width: 100%;
    top: 85px;
    left: 40px;
}
.nav-content>p{
    margin:30px 0;
}
.nav-content>p>a{
    color: #ffffff;
    text-decoration: none;
    font-size:18px;
}
.logo{
    width: 45px;
    height: 45px;
    margin: 0 20px;
    /* background-image: url(../img/logo2.gif); */
    background-size: contain;
}



/*------방 리스트 테이블 start------*/
.ID-show{
    position: relative;
    font-size: 28px;
    height: 80px; 
}
.show-txt{
    position: absolute;
    top: -20px;
    padding:0;
}
.show-txt>li{
    margin-right: 10px;
    list-style: none;
    float: left;
}
.show-txt>li:first-child{
    color: #4338e4;
}
.data{
    font-size: 29pt; 
    margin: -8px 3px 0;/*마진:상,좌우,하*/
}
/*---테이블스타일---*/

.table-name{
    
}
.table-box > img, 
.table-name>p{
    display: inline-block;
    vertical-align: middle;
}
#manager-content-box{
    position: absolute;
    max-width: 100vw;
    height: 700px;
    top: 50px;
    left: 200px;
}
.table-cover-box{
    position: absolute;
    width: 80vw;
    left: 50px;
    top: 15px;
}
.table-box{
    position: relative;
    height: 250px;
    top: 30px;
}
table{
    position: absolute;
    width: 100%;
    border-top:3px solid #8e7ac6;
    border-collapse: collapse; 
    font-size: 20px;
}
th,td{
    border-bottom: 1px solid #eeeeee;
    padding: 20px ;
}
table.project-list tr{
    border-collapse: collapse;
    text-align:center;
}
table.project-list td:nth-child(2){
    text-align: left;
}
.table-content>tr:hover{
    background-color: #ebebeb;
}
.project-name{
    text-align: center;
}
#Delete-btn{background-color: #705ba8; color:#fff;}

/*--------관리자 주의사항 글--------*/
.article-notice{
    position: relative;
    height: 120px;
    top: 25vh;
    border-top: 1px solid rgb(90, 90, 90);
}
/* .notice-cover-box{
    position: absolute;
    max-width: 100%;
    top: 10%;
    border: 3px solid #444444;
} */
.text-notice{
    position: absolute;
    max-width:100vw; 
    top: 10px;
}
.text-notice>p{
    margin: 5px 0;
    font-size: 15px;   
}
/*-------로그아웃(하단 div)-------*/
.footer{
    position: relative;
    width: 100vw;
    height: 58px;
    background-color:#8e7ac6;
}
.logout-box{
    position: absolute;
    top: 4px;
    right: 130px;
}
.logout-box>p>a{
    font-size: 20px;
    color: #ffffff;
    text-decoration-line: none;
}
